.form {
  margin-bottom: 40px;
}

input {
  margin-right: 25px;
  padding: 3px;
}

button {
  padding: 4px;
  background-color: teal;
  color: white;
  border: 1px solid white;
  width: 160px;
  cursor: pointer;
}